---
import SistemaDVR from '../../images/sistema-dvr.png'
import Smart from '../../images/smart.png'
import AlarmaVecinal from '../../images/alarma-vecinal.png'
import '../styles/NosotrosResumen.css'
import '../styles/VideoVigilancia.css'
---

<div class="container video-vigilancia-compu contenedor-nosotros-resumen">
    <h2 class="text-center fw-bold py-5">Video vigilancia</h2>
    <div class="row d-flex align-items-center">
        <div class="col-xl-6 col-lg-6">
            <h2 class="fw-bold">Sistemas con DVR-NVR</h2>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book.
            </p>
        </div>
        <div class="col-xl-6 col-lg-6">
            <img class="imagen-nosotros" src={SistemaDVR.src} alt="Un poco sobre System Video Security">
        </div>
    </div>

    <div class="row d-flex align-items-center">
        <div class="col-xl-6 col-lg-6">
            <img class="imagen-nosotros" src={Smart.src} alt="Un poco sobre System Video Security">
        </div>
        <div class="col-xl-6 col-lg-6">
            <h2 class="fw-bold">Cámaras Smart-Wifi</h2>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book.
            </p>
        </div>
    </div>

    <div class="row d-flex align-items-center">
        <div class="col-xl-6 col-lg-6">
            <h2 class="fw-bold">Alarmas Vecinales</h2>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book.
            </p>
        </div>
        <div class="col-xl-6 col-lg-6">
            <img class="imagen-nosotros" src={AlarmaVecinal.src} alt="Un poco sobre System Video Security">
        </div>
    </div>
</div>
<!-- Version movil -->
<div class="container video-vigilancia-movil">
    <h2 class="text-center fw-bold py-5">Video vigilancia</h2>
    <div class="row d-flex align-items-center py-5">
        <div class="col-xl-6 col-lg-6 col-md-12">
            <h2 class="fw-bold">Sistemas con DVR-NVR</h2>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book.
            </p>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12">
            <img class="imagen-producto" src={SistemaDVR.src} alt="Un poco sobre System Video Security">
        </div>
    </div>

    <div class="row d-flex align-items-center py-5">
        <div class="col-xl-6 col-lg-6">
            <h2 class="fw-bold">Cámaras Smart-Wifi</h2>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book.
            </p>
        </div>
        <div class="col-xl-6 col-lg-6">
            <img class="imagen-producto" src={Smart.src} alt="Un poco sobre System Video Security">
        </div>
        
    </div>

    <div class="row d-flex align-items-center py-5">
        <div class="col-xl-6 col-lg-6">
            <h2 class="fw-bold">Alarmas Vecinales</h2>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book.
            </p>
        </div>
        <div class="col-xl-6 col-lg-6">
            <img class="imagen-producto" src={AlarmaVecinal.src} alt="Un poco sobre System Video Security">
        </div>
    </div>
</div>